<a href="https://colab.research.google.com/github/20A31A0527/Training_3/blob/main/DAY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#FACTORIAL OF ANY GIVEN NUMBER
n=int(input("Enter a number:"))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

Enter a number:4
24

In [ ]:
#FACTORIAL USING RECURSION
def fact(n):
  if n==1 or n==0:
    return 1
  else:
    return n*fact(n-1)
n=int(input("Enter a number:"))
print(fact(n))

Enter a number:6
720

In [ ]:
#SUM OF FIRST 5 NATURAL NUMBERS  USING FUNCTION
def sum(n):
  sum=0
  for i in range(n+1):
    sum=sum+i
  return sum
n=int(input("Enter range:"))
print(sum(n))

Enter range:5
15

In [ ]:
#SUM OF FIRST 5 NATURAL NUMBERS  USING RECURSION FUNCTION
def sum(n):
  if n==0:
    return 0
  else:
    return n+sum(n-1)
n=int(input("Enter n:"))
print(sum(n))

Enter n:5
15

In [ ]:
#FIBONOCCI SERIES USING RECURSION
def fib(n):
  if n<0:
    print("invalid input")
  elif n==0:
    return 0
  elif n==1 or n==2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
n=int(input("Enter the range of Fibonocci series:"))
print("Value at given range is",fib(n))

Enter the range of Fibonocci series:5
Value at given range is 5

**How Dynamic Programming works?**
    
    It  works by storing the result of subproblems so that when their solutions are required,
    they are at hand and we do not need to recalculate them.

In [ ]:
#FINDING POWER OF A NUMBER USING RECURSION
def pow(n,p):
  if p==0:
    return 1
  else:
    return n*(pow(n,p-1))
n=int(input("Enter base value:"))
p=int(input("Enter exp value:"))
print("Power is:",pow(n,p))

Enter base value:5
Enter exp value:2
Power is: 25

In [ ]:
#PYTHON PROGRAM TO CHECK IF A NUMBER IS EVEN OR ODD
num=int(input("Enter a number:"))
if num%2==0:
  print(num,"is Even")
else:
  print(num,"is Odd")

Enter a number:56
56 is Even

In [ ]:
#PROGRAM TO CHECK LEAP YEAR
n=int(input("Enter an year:"))
if n%400==0 or n%100!=0:
  if n%4==0:
    print(n,"is Leap Year")
  else:
    print(n,"is not Leap year")

Enter an year:2020
2020 is Leap Year

In [ ]:
#TO FIND LARGEST AMONG THREE NUMBERS
a,b,c=map(int,input("Enter three numbers:").split(" "))
if a>b:
  if a>c:
    print(a,"is greater")
elif b>c:
  if b>a:
    print(b,"is greater")
elif c>a:
  if c>b:
    print(c,"is greater")

Enter three numbers:99 5 15
99 is greater

In [ ]:
#TO CHECK PRIME NUMBER
num=int(input("Enter a number:"))
for i in range(2,num):
  if num%i==0:
    flag=1
  else:
    flag=0
if flag==1:
  print(num,"is prime")
else:
  print(num,"is not prime")

Enter a number:14
14 is not prime

In [ ]:
#TO PRINT ALL PRIME NUMBERS IN AN INTERVAL
n=int(input("Enter range:"))
e=int(input("Enter range:"))
for i in range(n,e+1):
  flag=1
  for j in range(2,i):
    if i==2:
      flag=1
    elif i%j==0:
      flag=0
  if flag==1:
    print(i)

Enter range:4
Enter range:7
5
7

In [ ]:
#TO DISPLAY MULTIPLICATION TABLE
num=int(input("Enter a number:"))
print("MULTIPLICATION TABLE OF ",num,"is:")
print("----------------------")
for i in range(1,11):
  print(num,"X",i,"=",num*i)

Enter a number:2
MULTIPLICATION TABLE OF  2 is:
----------------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
#TO CHECK ARMSTRONG NUMBER
def count(n):
  c=0
  while n>0:
    n1=n%10
    n//=10
    c+=1
  return c
n=int(input("Enter a number:"))
sum=0
c=count(n)
temp=n
while temp>0:
  digit=temp%10
  sum+=digit**c
  temp//=10
if sum==n:
  print(n,"is armstrong number")
else:
  print(n,"is not an armstrong number")

Enter a number:1634
1634 is armstrong number

In [ ]:

#TO FIND ARMSTRONG IN AN INTERVAL
def count(n):
  c=0
  while n>0:
    n1=n%10
    n//=10
    c+=1
  return c
def armstrong(n):
  n2=n
  t=0
  c=count(n)
  while n>0:
    n1=n%10
    t+=n1**c
    n//=10
  if n2==t:
    return t
n,n1=map(int,input("Enter the range:").split())
for i in range(n,n1+1):
  if armstrong(i)!=None:
    print(armstrong(i),end=" ")

Enter the range:1 2000
1 2 3 4 5 6 7 8 9 153 370 371 407 1634